Data Science Academy
Python Fundamentos Para Análise de Dados
Capítulo 3
Exercícios - Funções

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.8

## Exercícios - Métodos e Funções

Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro) e depois faça uma chamada à função para listar os números

In [5]:
def selectPar():
    for i in range (2, 21, 2):
        print(i)
        
selectPar()

2
4
6
8
10
12
14
16
18
20

Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas. Faça uma chamada à função, passando como parâmetro uma string

In [7]:
def backUpper(text):
    print(text.upper())
    return
backUpper('Estou aprendendo Python!!')

ESTOU APRENDENDO PYTHON!!

Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e imprima a lista

In [12]:
def getList(list):
    print(list.append('o'))
    print(list.append('n'))

list1 = ['P', 'y', 't', 'h']
getList(list1)
print(list1)

None
None
['P', 'y', 't', 'h', 'o', 'n']

Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas à função, com apenas 1 elemento e na segunda chamada com 4 elementos

In [13]:
def form_list (form, *list):
    print(form)
    for i in list:
        print (i)
    return;
# Chamando a função
form_list("Python")
form_list(1, 2, 3, 4)

Python
1
2
3
4

Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2 números como parâmetro e retornar a soma deles

In [14]:
soma = lambda num1, num2: num1 + num2
print ("O resultado da soma é: ", soma(225, 522))

O resultado da soma é:  747

Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local

In [16]:
total = 0 #Variável global está fora da função

def soma( arg1, arg2 ): # Início da função
    total = arg1 + arg2; # Operação da função 
    print ("Dentro da função o total é: ", total)
    return total; # Resultado da função 

#Fim da função - declaração dos argumentos  
soma( 10, 20 );#Variável local está dentro da função 

print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius. Crie uma função anônima que converta cada temperatura para Fahrenheit
Dica: para conseguir realizar este exercício,  você deve criar sua função lambda, dentro de uma função (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista.

In [21]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda converte:(float(9)/5)* converte + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

Exercício 8 - Crie um dicionário e liste todos os métodos e atributos do dicionário

In [22]:
dictionary = {'k1': 'Análise', 'k2': 'Dados', 'k3': 'Python'}
dir(dictionary)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

Exercício 9 - Abaixo você encontra a importação do Pandas, um dos principais pacotes Python para análise de dados.Analise atentamente todos os métodos disponíveis. Um deles você vai usar no próximo exercício.

In [23]:
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

Exercício 10 - Crie uma função que receba o arquivo abaixo como argumento e retorne um resumo estatístico descritivo do arquivo. Dica, use Pandas e um de seus métodos, describe() Arquivo: "binary.csv"

In [24]:
import pandas as pd
file_name = "binary.csv"

def getFile(file_name):
    description_file = pd.read_csv(file_name)
    return description_file.describe()
getFile(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000