In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'Aluno':["José", "Carlos", "Ana", "Júlia", "Débora"],
                   'Faltas':[3,4,2,4,3],
                   'Prova': [2,7,8,5.5,9.2],
                   'Seminário':[8.5,5,8.2,6,9.5]})

In [2]:
print(df)

    Aluno  Faltas  Prova  Seminário
0    José       3    2.0        8.5
1  Carlos       4    7.0        5.0
2     Ana       2    8.0        8.2
3   Júlia       4    5.5        6.0
4  Débora       3    9.2        9.5

In [3]:
print(df.dtypes)

Aluno         object
Faltas         int64
Prova        float64
Seminário    float64
dtype: object

In [4]:
print(df.columns)

Index(['Aluno', 'Faltas', 'Prova', 'Seminário'], dtype='object')

In [5]:
print(df['Aluno'])

0      José
1    Carlos
2       Ana
3     Júlia
4    Débora
Name: Aluno, dtype: object

In [6]:
print(df.describe())

        Faltas     Prova  Seminário
count  5.00000  5.000000   5.000000
mean   3.20000  6.340000   7.440000
std    0.83666  2.779928   1.868957
min    2.00000  2.000000   5.000000
25%    3.00000  5.500000   6.000000
50%    3.00000  7.000000   8.200000
75%    4.00000  8.000000   8.500000
max    4.00000  9.200000   9.500000

In [7]:
print(df.sort_values(by="Seminário"))

    Aluno  Faltas  Prova  Seminário
1  Carlos       4    7.0        5.0
3   Júlia       4    5.5        6.0
2     Ana       2    8.0        8.2
0    José       3    2.0        8.5
4  Débora       3    9.2        9.5

In [8]:
print(df.loc[3])

Aluno        Júlia
Faltas           4
Prova          5.5
Seminário      6.0
Name: 3, dtype: object

In [9]:
print(df[df["Seminário"] > 8.0])

    Aluno  Faltas  Prova  Seminário
0    José       3    2.0        8.5
2     Ana       2    8.0        8.2
4  Débora       3    9.2        9.5

In [10]:
print(df[(df["Seminário"] > 8.0) & (df["Prova"] > 3)])

    Aluno  Faltas  Prova  Seminário
2     Ana       2    8.0        8.2
4  Débora       3    9.2        9.5

In [11]:
df_csv = pd.read_csv("dados.csv")

In [12]:
print(df_csv)

      condominio  quartos  suites  vagas  area    bairro    preco       pm2
0            350        1     0.0    1.0    21  Botafogo   340000  16190.48
1            800        1     0.0    1.0    64  Botafogo   770000  12031.25
2            674        1     0.0    1.0    61  Botafogo   600000   9836.07
3            700        1     1.0    1.0    70  Botafogo   700000  10000.00
4            440        1     0.0    1.0    44  Botafogo   515000  11704.55
...          ...      ...     ...    ...   ...       ...      ...       ...
1992        1080        3     1.0    1.0    80    Tijuca   680000   8500.00
1993         750        3     0.0    1.0    82    Tijuca   650000   7926.83
1994         700        3     1.0    1.0   100    Tijuca   629900   6299.00
1995        1850        3     1.0    2.0   166    Tijuca  1600000   9638.55
1996         800        3     1.0    1.0   107    Tijuca   540000   5046.73

[1997 rows x 8 columns]

In [13]:
print(df_csv.head(3))#first row

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000  12031.25
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07

In [14]:
print(df_csv.tail(3))#end row

      condominio  quartos  suites  vagas  area  bairro    preco      pm2
1994         700        3     1.0    1.0   100  Tijuca   629900  6299.00
1995        1850        3     1.0    2.0   166  Tijuca  1600000  9638.55
1996         800        3     1.0    1.0   107  Tijuca   540000  5046.73

In [15]:
print(df_csv['bairro'].unique())

['Botafogo' 'Copacabana' 'Gávea' 'Grajaú' 'Ipanema' 'Leblon' 'Tijuca']

In [16]:
print(df_csv['bairro'].value_counts())

Copacabana    346
Tijuca        341
Botafogo      307
Ipanema       281
Leblon        280
Grajaú        237
Gávea         205
Name: bairro, dtype: int64

In [17]:
print(df_csv.groupby("bairro").mean())

             condominio   quartos    suites     vagas        area  \
bairro
Botafogo     914.475570  2.107492  1.048860  1.159609   83.837134
Copacabana   991.861272  2.101156  1.034682  1.080925  101.855491
Grajaú       619.940928  2.097046  0.970464  1.130802   79.949367
Gávea        985.234146  2.058537  1.029268  1.200000   88.497561
Ipanema     1357.120996  2.181495  1.192171  1.220641  100.615658
Leblon      1260.010714  2.207143  1.064286  1.164286   91.832143
Tijuca       681.175953  2.131965  0.944282  1.143695   81.457478

                   preco           pm2
bairro
Botafogo    1.010614e+06  12034.486189
Copacabana  1.216344e+06  11965.298699
Grajaú      4.788869e+05   6145.624473
Gávea       1.454571e+06  16511.582780
Ipanema     2.033096e+06  19738.407794
Leblon      1.946193e+06  20761.351036
Tijuca      5.750780e+05   7149.804985

In [18]:
df2 = df_csv.head()
print(df2)

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000  12031.25
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55

In [19]:
df3 = df2.replace({"pm2":{12031.25:np.nan}})
print(df3)

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000       NaN
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55

In [20]:
df4 = df3.dropna()
print(df4)

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55

In [21]:
import pandas as pd

#df = pd.read_json('E:\python_soul_on\dados.json')
#print(df.to_string())

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409.1,
    "1":479.0,
    "2":340.0,
    "3":282.4,
    "4":406.0,
    "5":300.5
  }
}

df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5